Importing Important Libraries

In [18]:
import pandas as pd
import numpy as np
import datetime

In [19]:
df = pd.read_excel("C:/Users/larry/Downloads/Compressed/Data/05 Input Data/Year of Graduation Data/Final Lead Data.xlsx")

In [20]:
df

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,25834,Pratik,pratik@xyz.com,NaN,NaN,10/16/2019 10:19:42 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5299,25832,Nikita,nikita@xyz.com,NaN,NaN,10/16/2019 10:19:41 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5300,25830,Ashwini,ashwini@xyz.com,NaN,NaN,10/16/2019 10:19:10 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,Other
5301,25828,Jheanna Mae,jheannamae@xyz.com,NaN,NaN,10/16/2019 10:19:08 am,NaN,"Don Bosco College of Engineering, Fatorda, Margao",Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5302,25826,Krishna,krishna@xyz.com,NaN,NaN,10/16/2019 10:19:06 am,NaN,Don Bosco College Of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN

Filling the Null Values with Zero

In [ ]:
df = df.fillna(0)

Converting the datetime to Year Values

In [22]:
df['Created'] = pd.to_datetime(df['Created'], format="%m/%d/%Y %H:%M:%S %p")

In [23]:
df['Year'] = df['Created'].dt.year

In [24]:
df.rename(columns={"What is your current academic year?": "Current year"}, inplace=True)

In [ ]:
df_new = df_new.drop(["Created"],axis = 1)

In [25]:
df.loc[df["Current year"] == "1st Year","Current year"] = 1
df.loc[df["Current year"] == "2nd Year","Current year"] = 2
df.loc[df["Current year"] == "3rd Year","Current year"] = 3
df.loc[df["Current year"] == "Final Year","Current year"] = 4

In [26]:
df

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,Current year,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?,Year
0,68112,ANIKET,aniket@xyz.com,0,0,2022-04-27 01:41:38,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022
1,68110,Dhanshree,dhanshree@xyz.com,0,0,2022-04-22 04:08:38,0,Lords Universal College,0,0.0,0,0,0,0,yes,yes,no,0,2022
2,68108,Dhiraj,dhiraj@xyz.com,0,0,2022-04-16 10:31:59,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022
3,68106,Pooja,pooja@xyz.com,0,0,2022-04-13 10:05:15,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022
4,68090,Aayush,aayush@xyz.com,0,0,2022-03-26 07:02:48,0,B.k Birla college,0,0.0,0,0,0,0,yes,yes,no,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,25834,Pratik,pratik@xyz.com,0,0,2019-10-16 10:19:42,0,0,0,0.0,0,0,0,0,no,no,no,0,2019
5299,25832,Nikita,nikita@xyz.com,0,0,2019-10-16 10:19:41,0,0,0,0.0,0,0,0,0,no,no,no,0,2019
5300,25830,Ashwini,ashwini@xyz.com,0,0,2019-10-16 10:19:10,0,0,0,0.0,0,0,0,0,no,no,no,Other,2019
5301,25828,Jheanna Mae,jheannamae@xyz.com,0,0,2019-10-16 10:19:08,0,"Don Bosco College of Engineering, Fatorda, Margao",Others,3.0,Computer Science,0,0,0,no,no,no,0,2019
5302,25826,Krishna,krishna@xyz.com,0,0,2019-10-16 10:19:06,0,Don Bosco College Of Engineering,Others,3.0,Computer Science,0,0,0,no,no,no,0,2019

In [27]:
# Custome Function to Get Values of Passing Year
def convert(row):
    Academic = row['Academic Year']
    current = row['Current year']
    year = row['Year']
    if Academic == 0.0 or current == 0:
        year = year + 4
    elif Academic == 1.0 or current == 1:
        year = year + 3
    elif Academic == 2.0 or current == 2:
        year = year + 2
    elif Academic == 3.0 or current == 3:
        year = year + 1
    elif Academic == 4.0 or current == 4:
        year == year
    return year

In [28]:
df['Passing Year'] = df.apply(lambda row: convert(row), axis=1)

In [29]:
df

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,Current year,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?,Year,Passing Year
0,68112,ANIKET,aniket@xyz.com,0,0,2022-04-27 01:41:38,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022,2026
1,68110,Dhanshree,dhanshree@xyz.com,0,0,2022-04-22 04:08:38,0,Lords Universal College,0,0.0,0,0,0,0,yes,yes,no,0,2022,2026
2,68108,Dhiraj,dhiraj@xyz.com,0,0,2022-04-16 10:31:59,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022,2026
3,68106,Pooja,pooja@xyz.com,0,0,2022-04-13 10:05:15,0,0,0,0.0,0,0,0,0,yes,yes,no,0,2022,2026
4,68090,Aayush,aayush@xyz.com,0,0,2022-03-26 07:02:48,0,B.k Birla college,0,0.0,0,0,0,0,yes,yes,no,0,2022,2026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,25834,Pratik,pratik@xyz.com,0,0,2019-10-16 10:19:42,0,0,0,0.0,0,0,0,0,no,no,no,0,2019,2023
5299,25832,Nikita,nikita@xyz.com,0,0,2019-10-16 10:19:41,0,0,0,0.0,0,0,0,0,no,no,no,0,2019,2023
5300,25830,Ashwini,ashwini@xyz.com,0,0,2019-10-16 10:19:10,0,0,0,0.0,0,0,0,0,no,no,no,Other,2019,2023
5301,25828,Jheanna Mae,jheannamae@xyz.com,0,0,2019-10-16 10:19:08,0,"Don Bosco College of Engineering, Fatorda, Margao",Others,3.0,Computer Science,0,0,0,no,no,no,0,2019,2023
5302,25826,Krishna,krishna@xyz.com,0,0,2019-10-16 10:19:06,0,Don Bosco College Of Engineering,Others,3.0,Computer Science,0,0,0,no,no,no,0,2019,2023

In [30]:
df.to_csv('Final.csv')